In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor

In [2]:
df=pd.read_csv('Sales_Transactions_Dataset_Weekly.csv')
df.head()

,Product_Code,W0,W1,W2,W3,W4,W5,W6,W7,W8,...,Normalized 42,Normalized 43,Normalized 44,Normalized 45,Normalized 46,Normalized 47,Normalized 48,Normalized 49,Normalized 50,Normalized 51
0,P1,11,12,10,8,13,12,14,21,6,...,0.06,0.22,0.28,0.39,0.50,0.00,0.22,0.17,0.11,0.39
1,P2,7,6,3,2,7,1,6,3,3,...,0.20,0.40,0.50,0.10,0.10,0.40,0.50,0.10,0.60,0.00
2,P3,7,11,8,9,10,8,7,13,12,...,0.27,1.00,0.18,0.18,0.36,0.45,1.00,0.45,0.45,0.36
3,P4,12,8,13,5,9,6,9,13,13,...,0.41,0.47,0.06,0.12,0.24,0.35,0.71,0.35,0.29,0.35
4,P5,8,5,13,11,6,7,9,14,9,...,0.27,0.53,0.27,0.60,0.20,0.20,0.13,0.53,0.33,0.40

In [3]:
products = df['Product_Code'].unique()[:50]
data = df[df['Product_Code'].isin(products)].iloc[:, :53]
data.tail()

,Product_Code,W0,W1,W2,W3,W4,W5,W6,W7,W8,...,W42,W43,W44,W45,W46,W47,W48,W49,W50,W51
45,P46,27,46,31,38,40,40,53,43,45,...,33,46,30,29,31,32,21,34,31,14
46,P47,40,42,27,28,33,29,33,58,37,...,38,39,33,27,33,33,36,30,34,20
47,P48,29,51,40,33,43,28,29,41,35,...,36,22,38,34,33,44,23,31,35,27
48,P49,37,28,42,38,37,35,42,36,30,...,25,49,36,27,33,41,37,22,33,23
49,P50,12,3,15,8,12,7,9,10,12,...,6,12,12,10,10,8,5,8,9,9

In [4]:
melt = data.melt(id_vars='Product_Code', var_name='Week', value_name='Sales')
melt.head()

  Product_Code Week  Sales
0           P1   W0     11
1           P2   W0      7
2           P3   W0      7
3           P4   W0     12
4           P5   W0      8

In [5]:
melt['Product_Code'] = melt['Product_Code'].str.extract('(\d+)', expand=False).astype(int)
melt['Week'] = melt['Week'].str.extract('(\d+)', expand=False).astype(int)

melt = melt.sort_values(['Week', 'Product_Code'])
melt.head()

   Product_Code  Week  Sales
0             1     0     11
1             2     0      7
2             3     0      7
3             4     0     12
4             5     0      8

In [6]:
split_point = 40
melt_train = melt[melt['Week'] < split_point].copy()
melt_valid = melt[melt['Week'] >= split_point].copy()
melt_train.tail()

      Product_Code  Week  Sales
1995            46    39     30
1996            47    39     29
1997            48    39     38
1998            49    39     37
1999            50    39      9

In [7]:
melt_train['week+1'] = melt_train.groupby("Product_Code")['Sales'].shift(-1)
melt_train['week+2'] = melt_train.groupby("Product_Code")['Sales'].shift(-2)
melt_train['week+3'] = melt_train.groupby("Product_Code")['Sales'].shift(-3)
melt_train['week+4'] = melt_train.groupby("Product_Code")['Sales'].shift(-4)

In [8]:
melt_train[melt_train['Product_Code'] == 1].head()

     Product_Code  Week  Sales  week+1  week+2  week+3  week+4
0               1     0     11    12.0    10.0     8.0    13.0
50              1     1     12    10.0     8.0    13.0    12.0
100             1     2     10     8.0    13.0    12.0    14.0
150             1     3      8    13.0    12.0    14.0    21.0
200             1     4     13    12.0    14.0    21.0     6.0

In [9]:
melt_train[melt_train['Product_Code'] == 1].tail()

      Product_Code  Week  Sales  week+1  week+2  week+3  week+4
1750             1    35     14    10.0     9.0    12.0    17.0
1800             1    36     10     9.0    12.0    17.0     NaN
1850             1    37      9    12.0    17.0     NaN     NaN
1900             1    38     12    17.0     NaN     NaN     NaN
1950             1    39     17     NaN     NaN     NaN     NaN

In [10]:
melt_train = melt_train.dropna(subset=['week+1','week+2','week+3','week+4'])

In [11]:
melt_train["lag_sales_1"] = melt_train.groupby("Product_Code")['Sales'].shift(1)
melt_train["lag_sales_2"] = melt_train.groupby("Product_Code")['Sales'].shift(2)

In [12]:
melt_train[melt_train['Product_Code'] == 1].head()

,Product_Code,Week,Sales,week+1,week+2,week+3,week+4,lag_sales_1,lag_sales_2
0,1,0,11,12.0,10.0,8.0,13.0,NaN,NaN
50,1,1,12,10.0,8.0,13.0,12.0,11.0,NaN
100,1,2,10,8.0,13.0,12.0,14.0,12.0,11.0
150,1,3,8,13.0,12.0,14.0,21.0,10.0,12.0
200,1,4,13,12.0,14.0,21.0,6.0,8.0,10.0

In [46]:
melt_valid["lag_sales_1"] = melt_valid.groupby("Product_Code")['Sales'].shift(1)
melt_valid["lag_sales_2"] = melt_valid.groupby("Product_Code")['Sales'].shift(2)

In [47]:
melt_train["diff_sales_1"] = melt_train.groupby("Product_Code")['Sales'].diff(1)
melt_train["diff_sales_2"] = melt_train.groupby("Product_Code")['Sales'].diff(2)

In [48]:
melt_train[melt_train['Product_Code'] == 1].head()

,Product_Code,Week,Sales,week+1,week+2,week+3,week+4,lag_sales_1,lag_sales_2,diff_sales_1,diff_sales_2
0,1,0,11,12.0,10.0,8.0,13.0,NaN,NaN,NaN,NaN
50,1,1,12,10.0,8.0,13.0,12.0,11.0,NaN,1.0,NaN
100,1,2,10,8.0,13.0,12.0,14.0,12.0,11.0,-2.0,-1.0
150,1,3,8,13.0,12.0,14.0,21.0,10.0,12.0,-2.0,-4.0
200,1,4,13,12.0,14.0,21.0,6.0,8.0,10.0,5.0,3.0

In [49]:
melt_valid["diff_sales_1"] = melt_valid.groupby("Product_Code")['Sales'].diff(1)
melt_valid["diff_sales_2"] = melt_valid.groupby("Product_Code")['Sales'].diff(2)

In [50]:
melt_train.groupby("Product_Code")['Sales'].rolling(4).mean()

Product_Code
1             0         NaN
              50        NaN
              100       NaN
              150     10.25
              200     10.75
                      ...
50            1599     8.75
              1649     8.25
              1699     8.50
              1749     8.00
              1799     6.50
Name: Sales, Length: 1800, dtype: float64

In [51]:
melt_train.groupby("Product_Code")['Sales'].rolling(4).mean().reset_index(level=0, drop=True)

0         NaN
50        NaN
100       NaN
150     10.25
200     10.75
        ...
1599     8.75
1649     8.25
1699     8.50
1749     8.00
1799     6.50
Name: Sales, Length: 1800, dtype: float64

In [52]:
melt_train["mean_sales_4"] = melt_train.groupby("Product_Code")['Sales'].rolling(4).mean().reset_index(level=0, drop=True)

In [53]:
melt_train[melt_train['Product_Code'] == 1].head()

,Product_Code,Week,Sales,week+1,week+2,week+3,week+4,lag_sales_1,lag_sales_2,diff_sales_1,diff_sales_2,mean_sales_4
0,1,0,11,12.0,10.0,8.0,13.0,NaN,NaN,NaN,NaN,NaN
50,1,1,12,10.0,8.0,13.0,12.0,11.0,NaN,1.0,NaN,NaN
100,1,2,10,8.0,13.0,12.0,14.0,12.0,11.0,-2.0,-1.0,NaN
150,1,3,8,13.0,12.0,14.0,21.0,10.0,12.0,-2.0,-4.0,10.25
200,1,4,13,12.0,14.0,21.0,6.0,8.0,10.0,5.0,3.0,10.75

In [54]:
melt_valid["mean_sales_4"] = melt_valid.groupby("Product_Code")['Sales'].rolling(4).mean().reset_index(level=0, drop=True)

In [55]:
features = ['Sales', 'lag_sales_1', 'lag_sales_2','diff_sales_1','diff_sales_2','mean_sales_4']

In [56]:
imputer = SimpleImputer()
Xtr = imputer.fit_transform(melt_train[features])
ytr = melt_train[['week+1', 'week+2','week+3','week+4']]

mdl = RandomForestRegressor(n_estimators=100, random_state=0, n_jobs=6)
mdl.fit(Xtr, ytr)

RandomForestRegressor(n_jobs=6, random_state=0)

In [67]:
new_examples = melt_valid[melt_valid['Week'] == 51].copy()
new_examples

,Product_Code,Week,Sales,week+1,week+2,week+3,week+4,lag_sales_1,lag_sales_2,diff_sales_1,diff_sales_2,mean_sales_4
2550,1,51,10,NaN,NaN,NaN,NaN,5.0,6.0,5.0,4.0,7.00
2551,2,51,0,NaN,NaN,NaN,NaN,6.0,1.0,-6.0,-1.0,3.00
2552,3,51,7,NaN,NaN,NaN,NaN,8.0,8.0,-1.0,-1.0,9.25
2553,4,51,8,NaN,NaN,NaN,NaN,7.0,8.0,1.0,0.0,9.25
2554,5,51,9,NaN,NaN,NaN,NaN,8.0,11.0,1.0,-2.0,8.25
2555,6,51,6,NaN,NaN,NaN,NaN,10.0,3.0,-4.0,3.0,5.50
2556,7,51,1,NaN,NaN,NaN,NaN,2.0,4.0,-1.0,-3.0,2.25
2557,8,51,9,NaN,NaN,NaN,NaN,9.0,4.0,0.0,5.0,7.25
2558,9,51,13,NaN,NaN,NaN,NaN,7.0,12.0,6.0,1.0,10.50
2559,10,51,20,NaN,NaN,NaN,NaN,18.0,23.0,2.0,-3.0,19.75
2560,11,51,21,NaN,NaN,NaN,NaN,10.0,10.0,11.0,11.0,14.50
2561,12,51,3,NaN,NaN,NaN,NaN,6.0,4.0,-3.0,-1.0,3.75
2562,13,51,5,NaN,NaN,NaN,NaN,9.0,11.0,-4.0,-6.0,9.75
2563,14,51,18,NaN,NaN,NaN,NaN,12.0,13.0,6.0,5.0,13.50
2564,15,51,20,NaN,NaN,NaN,NaN,38.0,34.0,-18.0,-14.0,30.50
2565,16,51,22,NaN,NaN,NaN,NaN,23.0,31.0,-1.0,-9.0,26.75
2566,17,51,25,NaN,NaN,NaN,NaN,26.0,30.0,-1.0,-5.0,27.75
2567,18,51,23,NaN,NaN,NaN,NaN,29.0,29.0,-6.0,-6.0,27.25
2568,19,51,29,NaN,NaN,NaN,NaN,27.0,29.0,2.0,0.0,29.50
2569,20,51,9,NaN,NaN,NaN,NaN,12.0,6.0,-3.0,3.0,9.00
2570,21,51,5,NaN,NaN,NaN,NaN,5.0,12.0,0.0,-7.0,8.25
2571,22,51,5,NaN,NaN,NaN,NaN,11.0,4.0,-6.0,1.0,8.25
2572,23,51,0,NaN,NaN,NaN,NaN,4.0,2.0,-4.0,-2.0,3.00
2573,24,51,14,NaN,NaN,NaN,NaN,32.0,40.0,-18.0,-26.0,27.25
2574,25,51,20,NaN,NaN,NaN,NaN,25.0,29.0,-5.0,-9.0,26.00
2575,26,51,21,NaN,NaN,NaN,NaN,10.0,11.0,11.0,10.0,13.00
2576,27,51,28,NaN,NaN,NaN,NaN,34.0,30.0,-6.0,-2.0,34.00
2577,28,51,25,NaN,NaN,NaN,NaN,34.0,26.0,-9.0,-1.0,28.00
2578,29,51,16,NaN,NaN,NaN,NaN,10.0,11.0,6.0,5.0,13.00
2579,30,51,21,NaN,NaN,NaN,NaN,18.0,28.0,3.0,-7.0,22.50
2580,31,51,7,NaN,NaN,NaN,NaN,4.0,8.0,3.0,-1.0,6.25
2581,32,51,7,NaN,NaN,NaN,NaN,6.0,6.0,1.0,1.0,5.75
2582,33,51,11,NaN,NaN,NaN,NaN,17.0,16.0,-6.0,-5.0,14.75
2583,34,51,26,NaN,NaN,NaN,NaN,41.0,45.0,-15.0,-19.0,36.50
2584,35,51,28,NaN,NaN,NaN,NaN,43.0,25.0,-15.0,3.0,30.00
2585,36,51,19,NaN,NaN,NaN,NaN,36.0,28.0,-17.0,-9.0,28.50
2586,37,51,29,NaN,NaN,NaN,NaN,37.0,27.0,-8.0,2.0,30.75
2587,38,51,24,NaN,NaN,NaN,NaN,24.0,35.0,0.0,-11.0,32.75
2588,39,51,25,NaN,NaN,NaN,NaN,33.0,32.0,-8.0,-7.0,30.75
2589,40,51,22,NaN,NaN,NaN,NaN,27.0,24.0,-5.0,-2.0,27.50
2590,41,51,27,NaN,NaN,NaN,NaN,19.0,25.0,8.0,2.0,27.75
2591,42,51,16,NaN,NaN,NaN,NaN,15.0,29.0,1.0,-13.0,20.50
2592,43,51,27,NaN,NaN,NaN,NaN,29.0,30.0,-2.0,-3.0,30.25
2593,44,51,16,NaN,NaN,NaN,NaN,29.0,27.0,-13.0,-11.0,26.25
2594,45,51,20,NaN,NaN,NaN,NaN,28.0,28.0,-8.0,-8.0,26.50
2595,46,51,14,NaN,NaN,NaN,NaN,31.0,34.0,-17.0,-20.0,25.00
2596,47,51,20,NaN,NaN,NaN,NaN,34.0,30.0,-14.0,-10.0,30.00
2597,48,51,27,NaN,NaN,NaN,NaN,35.0,31.0,-8.0,-4.0,29.00
2598,49,51,23,NaN,NaN,NaN,NaN,33.0,22.0,-10.0,1.0,28.75
2599,50,51,9,NaN,NaN,NaN,NaN,9.0,8.0,0.0,1.0,7.75

In [68]:
p = mdl.predict(new_examples[features])
p

C:\Users\Welcome\anaconda3\New folder\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

array([[ 7.25      ,  9.56      ,  7.75      ,  9.93      ],
       [ 4.45666667,  3.9       ,  5.27      ,  4.72333333],
       [10.29183333,  9.10883333,  8.55833333,  9.975     ],
       [ 9.17916667,  8.60416667,  7.76416667, 10.16333333],
       [ 9.31      ,  7.36      , 10.74      , 10.4       ],
       [ 6.18      ,  6.25      ,  4.72      ,  4.68      ],
       [ 3.77583333,  3.285     ,  3.9975    ,  3.20666667],
       [ 9.81      ,  8.05      ,  9.34      ,  7.58      ],
       [ 9.75733333,  9.30066667,  8.062     ,  8.04466667],
       [25.57      , 21.81      , 23.11      , 25.35      ],
       [15.17      , 11.53      , 14.57      , 12.29      ],
       [ 5.        ,  7.01      ,  2.93      ,  4.42      ],
       [ 8.43      ,  7.23      ,  9.64      ,  7.76      ],
       [10.66      , 14.58      , 10.17      , 10.99      ],
       [30.81      , 32.59      , 35.05      , 30.76      ],
       [27.06      , 24.78      , 30.51      , 31.66      ],
       [30.92      , 31.6       , 30.35      , 33.62      ],
       [28.59      , 29.6       , 31.09      , 31.9       ],
       [34.26      , 33.47      , 34.        , 37.49      ],
       [ 9.92      , 10.23      ,  8.38      ,  8.37      ],
       [10.52      ,  9.25      ,  8.39      ,  9.51      ],
       [10.42      ,  8.81      ,  8.92      ,  7.99      ],
       [ 3.88      ,  2.96      ,  7.55      ,  3.09      ],
       [29.44      , 31.09      , 25.74      , 30.02      ],
       [30.61      , 29.99      , 32.95      , 30.93      ],
       [16.08      , 11.27      , 14.6       , 12.25      ],
       [30.78      , 32.31      , 31.45      , 31.        ],
       [31.44      , 33.38      , 33.32666667, 29.91      ],
       [ 9.72      , 12.37      ,  9.53      , 12.57      ],
       [27.22      , 23.36      , 26.12      , 28.52      ],
       [ 5.82      ,  7.75      ,  6.7       ,  5.33      ],
       [ 6.54      ,  4.29      ,  4.61      ,  4.02      ],
       [13.01      , 13.44      , 10.86      , 10.34      ],
       [36.61      , 34.58      , 35.63      , 34.03      ],
       [29.72      , 37.74      , 35.79      , 34.95      ],
       [29.62      , 31.81      , 32.72      , 33.16      ],
       [30.66      , 35.77      , 35.21      , 31.52      ],
       [30.13      , 29.43      , 32.21      , 34.2       ],
       [25.9       , 32.65      , 34.01      , 34.02      ],
       [30.79      , 33.315     , 31.09333333, 31.875     ],
       [28.41      , 30.11      , 31.8       , 30.71      ],
       [22.49      , 21.33      , 21.04      , 24.61      ],
       [33.8       , 33.585     , 35.4       , 38.635     ],
       [30.49      , 28.39      , 24.61      , 28.73      ],
       [30.24      , 31.97      , 31.95      , 32.2       ],
       [30.56      , 30.22      , 25.96      , 29.36      ],
       [24.5       , 29.66      , 29.52      , 30.6       ],
       [29.53      , 35.685     , 30.51333333, 33.575     ],
       [31.28      , 30.02      , 32.57      , 34.        ],
       [ 7.45      ,  8.8       ,  8.6       ,  7.94      ]])

In [69]:
new_examples['p_sales_next_week'] = p[:, 0]
new_examples['p_sales_next_next_week'] = p[:, 1]
new_examples['p_sales_next_next_next_week'] = p[:, 2]
new_examples['p_sales_next_next_next_next_week'] = p[:, 3]

In [70]:
new_examples

,Product_Code,Week,Sales,week+1,week+2,week+3,week+4,lag_sales_1,lag_sales_2,diff_sales_1,diff_sales_2,mean_sales_4,p_sales_next_week,p_sales_next_next_week,p_sales_next_next_next_week,p_sales_next_next_next_next_week
2550,1,51,10,NaN,NaN,NaN,NaN,5.0,6.0,5.0,4.0,7.00,7.250000,9.560000,7.750000,9.930000
2551,2,51,0,NaN,NaN,NaN,NaN,6.0,1.0,-6.0,-1.0,3.00,4.456667,3.900000,5.270000,4.723333
2552,3,51,7,NaN,NaN,NaN,NaN,8.0,8.0,-1.0,-1.0,9.25,10.291833,9.108833,8.558333,9.975000
2553,4,51,8,NaN,NaN,NaN,NaN,7.0,8.0,1.0,0.0,9.25,9.179167,8.604167,7.764167,10.163333
2554,5,51,9,NaN,NaN,NaN,NaN,8.0,11.0,1.0,-2.0,8.25,9.310000,7.360000,10.740000,10.400000
2555,6,51,6,NaN,NaN,NaN,NaN,10.0,3.0,-4.0,3.0,5.50,6.180000,6.250000,4.720000,4.680000
2556,7,51,1,NaN,NaN,NaN,NaN,2.0,4.0,-1.0,-3.0,2.25,3.775833,3.285000,3.997500,3.206667
2557,8,51,9,NaN,NaN,NaN,NaN,9.0,4.0,0.0,5.0,7.25,9.810000,8.050000,9.340000,7.580000
2558,9,51,13,NaN,NaN,NaN,NaN,7.0,12.0,6.0,1.0,10.50,9.757333,9.300667,8.062000,8.044667
2559,10,51,20,NaN,NaN,NaN,NaN,18.0,23.0,2.0,-3.0,19.75,25.570000,21.810000,23.110000,25.350000
2560,11,51,21,NaN,NaN,NaN,NaN,10.0,10.0,11.0,11.0,14.50,15.170000,11.530000,14.570000,12.290000
2561,12,51,3,NaN,NaN,NaN,NaN,6.0,4.0,-3.0,-1.0,3.75,5.000000,7.010000,2.930000,4.420000
2562,13,51,5,NaN,NaN,NaN,NaN,9.0,11.0,-4.0,-6.0,9.75,8.430000,7.230000,9.640000,7.760000
2563,14,51,18,NaN,NaN,NaN,NaN,12.0,13.0,6.0,5.0,13.50,10.660000,14.580000,10.170000,10.990000
2564,15,51,20,NaN,NaN,NaN,NaN,38.0,34.0,-18.0,-14.0,30.50,30.810000,32.590000,35.050000,30.760000
2565,16,51,22,NaN,NaN,NaN,NaN,23.0,31.0,-1.0,-9.0,26.75,27.060000,24.780000,30.510000,31.660000
2566,17,51,25,NaN,NaN,NaN,NaN,26.0,30.0,-1.0,-5.0,27.75,30.920000,31.600000,30.350000,33.620000
2567,18,51,23,NaN,NaN,NaN,NaN,29.0,29.0,-6.0,-6.0,27.25,28.590000,29.600000,31.090000,31.900000
2568,19,51,29,NaN,NaN,NaN,NaN,27.0,29.0,2.0,0.0,29.50,34.260000,33.470000,34.000000,37.490000
2569,20,51,9,NaN,NaN,NaN,NaN,12.0,6.0,-3.0,3.0,9.00,9.920000,10.230000,8.380000,8.370000
2570,21,51,5,NaN,NaN,NaN,NaN,5.0,12.0,0.0,-7.0,8.25,10.520000,9.250000,8.390000,9.510000
2571,22,51,5,NaN,NaN,NaN,NaN,11.0,4.0,-6.0,1.0,8.25,10.420000,8.810000,8.920000,7.990000
2572,23,51,0,NaN,NaN,NaN,NaN,4.0,2.0,-4.0,-2.0,3.00,3.880000,2.960000,7.550000,3.090000
2573,24,51,14,NaN,NaN,NaN,NaN,32.0,40.0,-18.0,-26.0,27.25,29.440000,31.090000,25.740000,30.020000
2574,25,51,20,NaN,NaN,NaN,NaN,25.0,29.0,-5.0,-9.0,26.00,30.610000,29.990000,32.950000,30.930000
2575,26,51,21,NaN,NaN,NaN,NaN,10.0,11.0,11.0,10.0,13.00,16.080000,11.270000,14.600000,12.250000
2576,27,51,28,NaN,NaN,NaN,NaN,34.0,30.0,-6.0,-2.0,34.00,30.780000,32.310000,31.450000,31.000000
2577,28,51,25,NaN,NaN,NaN,NaN,34.0,26.0,-9.0,-1.0,28.00,31.440000,33.380000,33.326667,29.910000
2578,29,51,16,NaN,NaN,NaN,NaN,10.0,11.0,6.0,5.0,13.00,9.720000,12.370000,9.530000,12.570000
2579,30,51,21,NaN,NaN,NaN,NaN,18.0,28.0,3.0,-7.0,22.50,27.220000,23.360000,26.120000,28.520000
2580,31,51,7,NaN,NaN,NaN,NaN,4.0,8.0,3.0,-1.0,6.25,5.820000,7.750000,6.700000,5.330000
2581,32,51,7,NaN,NaN,NaN,NaN,6.0,6.0,1.0,1.0,5.75,6.540000,4.290000,4.610000,4.020000
2582,33,51,11,NaN,NaN,NaN,NaN,17.0,16.0,-6.0,-5.0,14.75,13.010000,13.440000,10.860000,10.340000
2583,34,51,26,NaN,NaN,NaN,NaN,41.0,45.0,-15.0,-19.0,36.50,36.610000,34.580000,35.630000,34.030000
2584,35,51,28,NaN,NaN,NaN,NaN,43.0,25.0,-15.0,3.0,30.00,29.720000,37.740000,35.790000,34.950000
2585,36,51,19,NaN,NaN,NaN,NaN,36.0,28.0,-17.0,-9.0,28.50,29.620000,31.810000,32.720000,33.160000
2586,37,51,29,NaN,NaN,NaN,NaN,37.0,27.0,-8.0,2.0,30.75,30.660000,35.770000,35.210000,31.520000
2587,38,51,24,NaN,NaN,NaN,NaN,24.0,35.0,0.0,-11.0,32.75,30.130000,29.430000,32.210000,34.200000
2588,39,51,25,NaN,NaN,NaN,NaN,33.0,32.0,-8.0,-7.0,30.75,25.900000,32.650000,34.010000,34.020000
2589,40,51,22,NaN,NaN,NaN,NaN,27.0,24.0,-5.0,-2.0,27.50,30.790000,33.315000,31.093333,31.875000
2590,41,51,27,NaN,NaN,NaN,NaN,19.0,25.0,8.0,2.0,27.75,28.410000,30.110000,31.800000,30.710000
2591,42,51,16,NaN,NaN,NaN,NaN,15.0,29.0,1.0,-13.0,20.50,22.490000,21.330000,21.040000,24.610000
2592,43,51,27,NaN,NaN,NaN,NaN,29.0,30.0,-2.0,-3.0,30.25,33.800000,33.585000,35.400000,38.635000
2593,44,51,16,NaN,NaN,NaN,NaN,29.0,27.0,-13.0,-11.0,26.25,30.490000,28.390000,24.610000,28.730000
2594,45,51,20,NaN,NaN,NaN,NaN,28.0,28.0,-8.0,-8.0,26.50,30.240000,31.970000,31.950000,32.200000
2595,46,51,14,NaN,NaN,NaN,NaN,31.0,34.0,-17.0,-20.0,25.00,30.560000,30.220000,25.960000,29.360000
2596,47,51,20,NaN,NaN,NaN,NaN,34.0,30.0,-14.0,-10.0,30.00,24.500000,29.660000,29.520000,30.600000
2597,48,51,27,NaN,NaN,NaN,NaN,35.0,31.0,-8.0,-4.0,29.00,29.530000,35.685000,30.513333,33.575000
2598,49,51,23,NaN,NaN,NaN,NaN,33.0,22.0,-10.0,1.0,28.75,31.280000,30.020000,32.570000,34.000000
2599,50,51,9,NaN,NaN,NaN,NaN,9.0,8.0,0.0,1.0,7.75,7.450000,8.800000,8.600000,7.940000

In [62]:
input_data=np.array([[10,5,5,7,12,21]])
testing=mdl.predict(input_data)
rounded_predictions = np.round(testing).astype(int)
rounded_predictions

array([[10,  8,  9, 10]])